#homeTop {
    position: relative;
    display: flex;
    height: 100vh;
}



#BottomDiv {
    padding: 25px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

#BottomDivleftfirst {
    width: 559px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 12px;
    padding-left: 50px;
border: 1px solid #EBEBEB;
background: #FFF
}



#TopSupplierDiv {
    display: flex;
    gap: 20px;
    padding-top: 24px;
}


.SuppliersCategory {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;

}

.SupplierFont {
    color: rgba(0, 0, 0, 0.48);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}


#headerPiechart {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


#BottomDivleftsecond {
    width: 459px;
    height: 471px;
    flex-shrink: 0;
}

#PieChartDiv {
margin-left: 50px;
}
#svgDiv {
    border: 1px solid #dbd8d8;
    border-radius: 10px;
    width: 70px;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#BottomRightDiv{
    width: 500px;
}


#tableHeader {
    display: flex;
    justify-content: space-between;
    width: 450px;
height: 48px;
flex-shrink: 0;
padding-left: 50px;
}

#tableHeader>button {
    border-radius: 8px;
    border: 1px solid #dbd8d8;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
    padding: 4px 15px;
    background: #FFF;
    
}
@media screen and (max-width: 1000px) {
    #BottomDiv {
        flex-direction: column;
    }

    #BottomDivleftfirst,
    #BottomDivleftsecond,
    #PieChartDiv,
    #BottomRightDiv,
    #tableHeader {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
}

