#homeTop {
    /* position: relative; */
    display: flex;
    height: 100vh;
    justify-content: center;
}

/* #barchartbox{
    width: 70%;
} */
#lastdiv{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#fristleft{
    width: 40%;
    /* border: 1px solid; */
}
#secondright{
    margin-left: 2%;
    width: 55%;
}




@media screen and (max-width: 1100px) {
    #lastdiv {
        flex-direction: column;
    }
    #fristleft{
        width: 100%;
        
    }
    #secondright{
        margin-left: 2%;
        width: 100%;
    }
    
}

