#dashboardLeft {
    height: 100%;
    width: 18%;
    background-color: #181818;
    color: white;
    position: fixed;
}

.dashboardIcon {
    padding: 15px;
    text-align: left;
}

.dashboardInnerDivIcon {
    padding: 13px 10px 13px 20px;

}

.dashboardInnerDivIcon>img {
    width: 128px;
}

.dashboardDropdownOptions {
    text-align: left;
    padding: 10px 15px 15px 15px;
    border-top: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    background: #181818;
}

.dashboardDropdownOptions>div:nth-of-type(1) {
    display: flex;
    padding: 13px 10px 13px 20px;
    align-items: center;
    gap: 5px;
    color: #5C5C5C;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

.dashboardDropdownToggle {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 13px 10px 13px 20px;
}

.dropdown-menu {
    background-color: #5C5C5C;
    color: white;
    width: 220px;
}

.dropdown-item{
color: #f1ecec;
}

.dropdown-menu {
    display: none;
    
  }
  .show {
    display: block ;
    width: 85%;
  }
  
.show li a{
  text-decoration: none;

}
ul {
    list-style-type: none;
  }

a{
    text-decoration: none;
}

 li {
    text-decoration: none;
 }
 
.no-arrow::after {
    display: none;
}

#homeSpan {
    color: #02AB6C;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dashboardleftbuttonDiv {
    padding: 70px 30px;

}

#dashboardButton {
    border: none;
    border-radius: 11px;
    background-color: #02AB6C;
    width: 187px;
    height: 50px;
    color: white;
}

